body {
  /*font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: "brandon grotesque", brandon, helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #1c1d1d;
  color: #bdbdbd;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.disabled {
  display: none;
}

/*
** FOOTER
 */
footer {
  color: #fff;
  width: 100%;
}

footer .row {
  padding: 10px 0;
  margin: 0;
  background: #242529;
}

/*
** CONTAINER
 */
.container-fluid {
  margin-top: 10px;
  padding: 0 10px;
}

.app-content div[class*='col-'] {
  margin-bottom: 4px;
}

@media (min-width: 992px) {
  .app-content div[class*='col-'] {
    margin-bottom: 8px;
  }
  #b-header div[class*='col-'] {
    margin: 0;
  }
  .app-content div[class*='col-'] ~ div[class*='col-'] {
    padding-left: 0;
  }
}

/*
** IMG
 */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
** Anchor
 */
a:hover {
  color: #73ecff;
  text-decoration: underline;
}

a {
  color: #57d9f5;
  text-decoration: none;
  background-color: transparent;
}

/*
** LINK
 */

.link-lab {
  padding-left: 0.4em;
  padding-right: 0.25em;
}


/*
** ICON
 */

.icon-heart {
  color: #ff4652;
  margin: 0 0.3em;
}

.icon-bookmark {
  margin-left: 20px;
  font-size: 25px;
}

.icon-bookmark:hover {
  cursor: pointer;
}

.icon-bookmark[data-prefix="fas"] {
  color: rgba(149, 255, 200, 0.84)
}

.icon-bookmark[data-prefix="fas"]:hover {
  color: rgb(149, 255, 200)
}

.icon-bookmark[data-prefix="far"] {
  color: rgba(225, 225, 225, 0.8)
}

.icon-bookmark[data-prefix="far"]:hover {
  color: rgb(225, 225, 225)
}

.icon-bookmark.tiny {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 0;
}

.icon-input-clear {
  font-size: 14px;
  border: none;
  color: rgba(226, 226, 226, 0.7) !important;
  border-radius: 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  background-color: transparent;
}

.icon-input-clear:hover {
  cursor: pointer;
  color: white !important;
}

.icon-input-append {
  color: rgba(163, 163, 163, 0.60) !important;
  padding: 0 20px;
  font-size: 25px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.input-group:hover .icon-input-append {
  color: rgba(174, 174, 174, 0.8) !important;
}

#b-locations .icon-input-append {
  margin-right: 5px;
}

/*
** INPUT
 */
.input-location {
  color: #e7e7e7 !important;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white !important;
  background-color: transparent !important;
}

.input-location::after {
  content: "aa";
}

.input-location:focus {
  box-shadow: none;
}

.input-location:hover::placeholder {
  color: #c7c7c7 !important;
}

.input-location::placeholder {
  color: #a3a3a3 !important;
}

/*
** BLOCK
 */

.app-block {
  background-color: rgba(81, 84, 84, 0.5);
  color: white;
  border: 1px solid rgba(124, 124, 124, 0.73);
  border-radius: 2px;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.center .app-block {
  display: table;
}

.center .app-block div {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}


.app-block p {
  margin-bottom: 0;
}

.b-title {
  text-align: center;
  font-size: 14px;
}

.b-title.border-bottom {
  border-bottom: 1px solid rgba(163, 163, 163, 0.80) !important;
}

.b-cov-nb {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 0.5rem;
}

.b-cov-days {
  font-size: 40px;
  font-weight: 600;;
  line-height: 45px;
}

.b-cov-inc {
  margin-top: 0.7rem;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  opacity: 0.8;
}

/*
** COMPONENTS
 */

#b-map, #b-dateslider {
  padding-left: 15px;
}

#b-locations {
  height: 592px;
}

#b-locations ul {
  height: 537px;
}

#b-locations .app-block .input-group {
  margin-bottom: 10px;
}

#b-dateslider {
  margin-bottom: 0;
}

#b-lastupdate span {
  font-size: 20px;
  margin-left: 10px;
}

#b-lastupdate .app-block {
  padding-left: 10px;
}

#b-header .app-block {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

#b-header .pre-title {
  display: flex;
}

#b-header .pre-title img {
  margin: 0 8px 0 3px;
}

#b-header .title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

#b-charts .nav {
  font-size: 12px;
}

#b-charts .app-block {
  padding-bottom: 0;
}

#b-recovered, #b-death, #b-confirmed {
  height: 160px;
  margin-bottom: 0;
}

#b-map .app-block {
  padding: 0;
}

#b-social {
  max-height: 100%;
}

#b-social .b-title {
  font-size: 18px;
  padding-bottom: 4px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

@media(min-width: 768px) {
  #b-locations, #b-lastupdate {
    padding-right: 0;
  }

  #b-locations .app-block, #b-bookmarks .app-block {
    padding-right: 0;
    padding-bottom: 0;
  }
  #b-lastupdate, #b-social {
    margin-bottom: 0;
  }
}

@media(max-width: 767px) {
  #b-locations {
    height: 255px;
  }

  #b-locations ul {
    height: 200px;
  }
  #b-confirmed {
    margin-bottom: 5px;
  }
  #b-lastupdate .app-block {
    font-size: 15px;
  }
  #b-recovered .b-cov-nb, #b-death .b-cov-nb {
    font-size: 40px;
    line-height: 55px;
  }
  #b-recovered .b-cov-inc {
    font-size: 16px;
  }
  #b-death .b-cov-inc {
    font-size: 14px;
  }
  #b-header .width-full {
    display: block;
  }
  #b-header-t2, #b-header-t4 {
    display: none;
  }
}

@media (max-width: 992px) {
  #b-recovered {
    padding-right: 5px;
  }
  #b-death {
    padding-left: 5px;
  }
}

/*
** COLORS
 */

.red {
  color: #e60000;
}

.red-light {
  color: #FF1717;
}

.green {
  color: #49a800;
}

.green-light {
  color: #4cbc00;
}

.white {
  color: white;
}


.grey-light {
  color: #e7e7e7;
}

.grey {
  color: #a3a3a3;
}

.grey-a {
  color: rgba(163, 163, 163, 0.80);
}

.orange {
  color: #ff8c00;
}

.green-blue {
  color: rgba(149, 255, 200, 0.84);
}


/*
** SIZES
 */
.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

/*
** UL LIST
 */

.ul-states {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  overflow-y: auto;
  height: inherit;
}

.ul-states li {
  padding-left: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  color: rgba(255, 255, 255, 0.80);
}

.ul-states li.ul-opt-info.open {
  background-color: transparent !important;
}

.ul-states li.ul-opt-info.active.open p {
  background-color: rgba(163, 255, 242, 0.35);
}

.ul-states li.ul-opt-info.active.open p:hover {
  background-color: rgba(163, 255, 242, 0.58);
}

.ul-states li.ul-opt-info.open p:hover {
  background-color: rgba(102, 105, 105, 0.5);
}

.ul-states li.active {
  background-color: rgba(163, 255, 242, 0.35);
}

.ul-states li.active:hover {
  background-color: rgba(163, 255, 242, 0.58);
}

.ul-states li:hover {
  cursor: pointer;
  background-color: rgba(102, 105, 105, 0.5);
}

.ul-states li:last-child {
  border: none;
}

.ul-opt-info ul {
  max-height: 0;
  overflow-y: auto;
  transition: none;
}

.ul-opt-info.open ul {
  max-height: 2000px;
  //background-color: rgba(223, 223, 223, 0.7);
  transition: max-height 0.2s ease-out;
}

.ul-opt-info .fa-chevron-down, .ul-opt-info .fa-chevron-up {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.ul-opt-info .fa-chevron-down:hover, .ul-opt-info .fa-chevron-up:hover {
  color: #79e0ff;
  cursor: grab;
}

.ul-bookmarks {
  list-style: none;
  padding: 3px 0 0 0;
  margin-bottom: 0;
  overflow-y: auto;
  max-height: 100px;
}

.ul-bookmarks li {
  padding-left: 10px;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.80);
}

.ul-bookmarks li span:hover {
  cursor: pointer;
  color: rgba(161, 222, 255, 0.8);
}

.ul-social {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  overflow-y: auto;
  max-height: 475px;
}


@media(max-width: 768px) {

}

/*
** POSITION
 */

.v-align {
  display: flex;
  align-items: center;
}

.h-align {
  display: flex;
  justify-content: center;
}

.c-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/**
** SLIDER
 */
.slider-labels {
  text-align: center;
  font-size: 15px;
}

.slider-min {
  float: left;
}

.slider-middle {
  vertical-align: middle;
}

.slider-max {
  float: right;
}

/*
** MAP
 */
.webmap {
  height: 100%;
}

.esri-popup__main-container {
  width: 340px !important;
  background-color: #4e4e4e !important;
}

.esri-popup__main-container ul {
  list-style: none;
  font-size: 15px;
}

.esri-popup__header-title {
  color: white !important;
  font-size: 20px !important;
  padding: 0 !important;
  margin-left: 15px !important;
}

.esri-popup__header-title:hover {
  background-color: gray !important;
}

.esri-popup__footer {
  display: none !important;
}

.esri-attribution {
  background: none !important;
}

.esri-attribution div, .esri-attribution a {
  color: white !important;
}

.esri-popup__content {
  background-color: #2d2d2d !important;
  border-radius: 2px;
}

.esri-feature {
  height: 100%;
  padding-top: 10px;
  color: white !important;
  background-color: inherit !important;
}

.esri-ui-corner {
  bottom: 0 !important;
  right: 0 !important;
  top: unset !important;
  left: unset !important;
}

@media(max-width: 768px) {
  .webmap {
    height: 500px;
  }
}

/*
** BUTTON
 */

.btn-shallow {
  background: none !important;
  padding: 0;
  border: none !important;
  box-shadow: none !important;
  margin: 0 5px;
  color: rgba(169, 242, 255, 0.9);
}

.btn-shallow:hover {
  color: rgb(112, 228, 255);
}

/*
** TABS
 */

.nav-item:hover {
  cursor: pointer;
}

.nav-link {
  color: #ebebeb !important;
}

.nav-link.active {
  background-color: rgba(104, 104, 104, 0.2) !important;
  color: #f1f1f1 !important;
  border-color: rgba(163, 163, 163, 0.80) !important;
}

.nav-item-disabled:hover, .nav-item-disabled:hover .nav-link {
  border-color: transparent !important;
  cursor: unset;
}

.nav-link:hover {
  border-color: rgba(163, 163, 163, 0.80) !important;
}

.nav-item-right {
  margin-left: auto;
}

.nav-tabs {
  border-color: rgba(163, 163, 163, 0.80) !important;
}

@media(max-width: 767px) {
  .nav-link {
    padding: 0.2rem 0.2rem;
  }
}
/**
** CHART
 */
.chart-wrapper {
  margin: auto;
}